@font-face {
  font-family: Pipboy;
  src: url(monofonto\ rg.otf);
}
body {
  background-color: #32352f;

  font-family: Pipboy, sans-serif;
  color: #14fe17;
}

body::after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
  opacity: 0.4;
  z-index: 1000000;
  pointer-events: none;
}
#mainnav {
  width: 100%;
}

ul li.nav-item a.nav-link,
ul li.navbar-item a.nav-link {
  color: #14fe17 !important;
  padding-bottom: 0px;
}

.centre-image img {
  display: block;
  position: absolute;
  left: 46%;
  top: 28%;
  max-height: 240px;
  filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(5) brightness(1)
    contrast(2);
}
.stat-bars {
  width: 56%;
  position: relative;
  left: 23%;
  top: -30px;
}
.pip-footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  font-size: 22px;
  padding: 14px 13px;
}
.navbar {
  border-bottom: 2px solid;
  margin: 10px;
}

.navbar.navbar-expand-sm.navbar-light::before,
.navbar.navbar-expand-sm.navbar-light::after {
  height: 5px;
  width: 2px;
  content: "  ";
  position: absolute;
  display: block;
  z-index: 5000;
  background: #14fe17;
  bottom: -6px;
}
.navbar::after {
  right: 0px;
}
.navbar::before {
  left: 0px;
}

.row {
  margin-left: 10px;
}

.navbar-item.active {
  position: relative;
  padding-right: 2px;
}
.navbar-item.active::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 26px;
  top: 14px;
  background: #32352f;
  border-left: 2px solid;
  border-right: 2px solid;
  border-top: 2px solid;
  left: 0px;
}

.nav-tab > .nav-item {
  font-size: 32px;
}
.level-progress {
  border: 2px solid #14fe17;
  height: 15px;
  display: inline-block;
  width: 75%;
}
.level-progress-bar {
  height: 11px;
  background: #14fe17;
  width: 77%;
  position: relative;
}
.navbar.pip-footer .col-3,
.navbar.pip-footer .col-6 {
  background: #5afb6524;
}
.col-6 {
  flex: 0 0 48%;
  margin: 0px 5px;
}
.col-3 {
  flex: 1 1 auto;
  width: 25%;
}

.stat-bar {
  width: 13%;
  margin: auto;
}
.cube {
  height: 10px;
  width: 62px;
  border: 2px solid;
  margin: 69px 1px 8px 0px;
}

.w10 {
  width: 10%;
  height: 92%;
}
.w20 {
  width: 20%;
  height: 92%;
}
.w30 {
  width: 30%;
  height: 92%;
}
.w40 {
  width: 40%;
  height: 92%;
}
.w50 {
  width: 50%;
  height: 92%;
}
.w60 {
  width: 60%;
  height: 92%;
}
.w70 {
  width: 70%;
  height: 92%;
}
.w80 {
  width: 80%;
  height: 92%;
}
.w90 {
  width: 90%;
  height: 92%;
}

.stat-number {
  position: relative;
  top: 7px;
  left: 34%;
  width: 50%;
}
.stat-number .col-1,
.stat-number .col-2 {
  background: #5afb6524;
  margin: 0px 2px;
}

.stat-number .col-1.transparent,
.stat-number .col-2.transparent {
  background: transparent;
}
img.img-responsieve {
  width: 100%;
  filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg)
    saturate(20);
}
img.img-responsieve.helmet {
  width: 90%;
  margin-left: 7px;
}
img.img-responsieve.pistol {
  margin-top: 5px;
}
.navbar-light .navbar-nav > li.nav-item > .nav-link,
.navbar-light .navbar-nav > li.navbar-item.active > .nav-link {
  text-align: center;
  margin: auto;
  font-size: 32px;
  line-height: 22px;
  padding-bottom: 0px;
  z-index: 50;
  position: relative;
  background: #32352f;
}

.navbar.navbar-light .navbar-nav > li {
  padding: 0px 18px;
  margin: 0px 40px;
}
.navbar-light ul.navbar-nav >li {
    display: block;
    position: relative;
    width: 100%;
}
.navbar.navbar-light.pip-footer {
  border-bottom: none;
  left: -13px;
}.item-list
{
  list-style: none;
}
.item-list a 
{
         text-decoration: none;
    color:#14fe17;
  
    position: relative;
    right: 7%;
    padding-left: 43px;
}
.tab-content .tab-pane .item-list li a:hover {
  color: #32352f;
  background:#14fe17;
}
.item-stats {
  position: absolute;
  right: 14%;
  bottom: 25%;
  width: 255px;
}
.item-stats .row-highlight .row span {
  position: absolute;
  left: 84%;
}
.row-highlight .row {
  margin: 5px 0px;
  background: #5afb6524;
}

.item-list  a.active::before
{
    content: "";
    display: block;
    position: absolute;
    background:#14fe17;
    width: 10px;
    height: 10px;
    left: 2%;
    top: 20.5%;
}
.item-list a.active:hover::before
{
     content: "";
    display: block;
    position: absolute;
    background: #1a1b1a;
    width: 10px;
    height: 10px;
    left: 2%;
    top: 20.5%;
}